/* Attendance */
.top-section{width:100%;align-items:center;display:inline-flex;margin:20px 0 0;}
.list-content.top-section{margin:0;}
.list-content.top-section .section .inner{margin:0 10px;}
.list-content .section .inner.selected{border:2px solid #003158;}
.list-content .section .inner > *{float:left;flex:auto;}
.list-content .section .inner .top-info{margin-bottom:20px;}
.list-content .section .col-1{max-width:9%;}
.list-content .section .col-1-2{max-width:12%;}
.list-content .section .col-1-5{max-width:15%;}
.list-content .section .col-2{max-width:21%;display:inline-flex;}
.list-content .section .col-1.last{max-width:7%;text-align:right;float:right;}
.sevak-filter.filter-content{margin-bottom: 10px;}
.sevak-filter.filter-content input,.sevak-filter.filter-content select{padding:0 10px;}