.grid-content{padding:20px 0;flex:0 0 100%;max-width:100%;padding:20px;}
.grid-content .section{width:33.333333%;float:left;}
.grid-content .section .inner, .list-content .section .inner{box-shadow: 0px 0px 4px #00315826;border-radius:5px;margin:15px;padding:15px 0 20px;overflow:hidden;}
.list-content .section .inner{margin:30px 15px;}
.grid-content .section dl{display:flex;padding:5px;}
.grid-content .section dl.border{border:none!important;border-bottom:2px dashed #00315814!important;padding:5px 5px 20px;margin-bottom:15px;}
.grid-content .section i.icon{font-size:25px;line-height:55px;float:right;}
.grid-content .section .desc{margin-top:5px;}
.grid-content .section dt.icon:before{margin-right:5px;}
.grid-content .section .sec-2 dd,.grid-content .section .sec-1-4{display:none;}
.grid-content .section .sec-2 dt{font-size:14px;color:#90A1B7;font-family:"Muli-Regular",sans-serif;font-weight:normal;}