@font-face {
    font-family: 'Muli-Regular';
    src: url('../fonts/Muli-Regular.eot');
    src: url('../fonts/Muli-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Muli-Regular.svg#Muli-Regular') format('svg'),
        url('../fonts/Muli-Regular.ttf') format('truetype'),
        url('../fonts/Muli-Regular.woff') format('woff'),
        url('../fonts/Muli-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Muli-Bold';
    src: url('../fonts/Muli-Bold.eot');
    src: url('../fonts/Muli-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Muli-Bold.svg#Muli-Bold') format('svg'),
        url('../fonts/Muli-Bold.ttf') format('truetype'),
        url('../fonts/Muli-Bold.woff') format('woff'),
        url('../fonts/Muli-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?1eyo2p');
    src:  url('../fonts/icomoon.eot?1eyo2p#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?1eyo2p') format('truetype'),
        url('../fonts/icomoon.woff?1eyo2p') format('woff'),
        url('../fonts/icomoon.svg?1eyo2p#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

