body{font-size:16px;font-family:"Muli-Regular",sans-serif;margin:0;padding:0;overflow-x:hidden;max-width:2048px;margin:0 auto;}
img{width:100%;height:auto;}
ul{list-style:none;margin:0;padding:0;}
ul li{display:inline-block;}
h1, h2, h3, h4, h5, h6, .heading{font-family:"Muli-Bold",sans-serif!important;margin:0;}
h1,.heading{font-size:30px;color:#003158;line-height:50px;}
h2, h3{font-size:25px;}
h4, h5 ,h6{font-size:20px;}
a{color:#003158;display:block;}
a:hover,a.active{text-decoration: none;color:#FF862A;}
span, p{display:inline-block;margin:0;padding:0;color:#90A1B7;}
p{display:block;}
input,select,text-area{line-height:40px;border-radius:5px;border:1px solid #90A1B7;padding:0 10px;color:#1C2D41;height:40px;background:none;}
i{font-style:normal;}
dl, dt, dd{margin:0;}
dt{font-size:20px;color:#003158;font-family:"Muli-Bold",sans-serif;}
dd{font-size:14px;color:#90A1B7;}
.float-left{float:left;}
.float-right{float:right;}
.clearfix{overflow:hidden;clear:both;}
.outline-btn{border:1px solid #FF862A!important;color:#FF862A;padding:10px 15px!important;line-height:20px!important; border-radius:5px;font-family:"Muli-Bold",sans-serif;background-color:#FFF;}
.btn{background-color:#FF862A;color:#FFF;padding:10px 15px!important;line-height:20px!important; border-radius:5px;font-family:"Muli-Bold",sans-serif;}
.active-link{font-family:"Muli-Bold",sans-serif;color:#003158!important;}
.icon:before, .icon:after{content:"";font-family:"icomoon";font-size:20px;vertical-align:middle;}
.help:after{content:"\e910";font-size:30px;}
.notification:after{content:"\e909";font-size:25px;}
.down-arrow:after{content:"\e919";}
.up-arrow:after{content:"\e916";}
.prev-arrow:after{content:"\e918";font-size:30px;vertical-align:top;}
.next-arrow:after{content:"\e917";}
.search:after{content:"\e911";}
.filter:after{content:"\e904";font-size:18px;}
.list:after{content:"\e907";}
.grid:after{content:"\e905";font-size:18px;}
.sort:after{content:"\e90e";font-size:16px;}
.excel:after{content:"\e90d";font-size:18px;}
.update:after{content:"\e90f";font-size:14px;}
.green-zone:after{content:"\e914";color:#12b529;}
.red-zone:after{content:"\e913";color:#ff4b4b;}
.yellow-zone:after{content:"\e912";color:#ffdb24;}
.vertical-menu:after{content:"\e92b";font-size:30px;}
.contact:before{background:url(../images/india.png) no-repeat center center;width:30px;height:20px;display:inline-block;vertical-align:text-bottom;}
.email:before{content:"\e903";}
.previous:before{content:"\e903";}
.upload:before{content:"\e91b";font-size:14px;vertical-align:top;}

.tag{background-color:#00315826;color:#003158;margin:0 5px;padding:5px 10px;border-radius:5px;font-size:12px;}
.tag.red{color:#FF4B4B;background-color:#ff4b4b26;}

.page-header{overflow:hidden;display:flex;justify-content: center;align-items:center;box-shadow: 0px 3px 6px #90A1B729;position:fixed;top:0;left:0;z-index:1;background-color:#FFF;width:100%;}
.page-header .logo{max-width:6.5%}
.page-header ul{text-align: right;}
.page-header ul li a{border-bottom:3px solid transparent;line-height:70px;}
.page-header ul li:not(:last-child) a{margin-right:15px;padding:0 5px;}
.page-header ul li a:hover, .page-header ul li a.active{border-color:#FF862A;}
.page-header ul li.icon:not(.down-arrow){margin-right:10px;}
.wrapper{padding-top:80px;}
.messages,.container{margin:20px 0 0;}
.container{overflow:hidden;display:flex;}
.messages{text-align:center;}
.messages a{display:inline-block;}

.container .sort-panel{text-align:right;}
.container .sort-panel span{border:1px solid #90A1B7;border-radius:5px;line-height:34px;width:35px;height:35px;text-align:center;cursor:pointer;}
.container .sort-panel span:after{vertical-align:top;}
.container .sort-panel span:not(:last-child){margin-right:10px;}
.filter-panel{text-align:center;}
.filter-panel span{padding:0 20px;cursor:pointer;}
.filter-panel span:hover{color:#FF862A;}
.filter-content p{position:relative;}
.filter-content input,.filter-content select{width:100%;padding-left:40px;}
.filter-content .buttons{padding:0;}
.filter-content .buttons span{width:50%;padding:0 15px;float:left;}
.filter-content input[type="button"]:nth-child(:last-child){margin:0;}
.filter-content i{position:absolute;top:0;left:25px;line-height:40px;}

/* dashboard */
.section .sec-1-3{display:inline-flex;justify-content:flex-end;align-items:center;float:right!important;}
.list-content{padding:20px 0;flex:0 0 100%;max-width:100%;padding:20px;}
.list-content .section{width:100%;}
.list-content .section .inner{box-shadow: 0px 0px 4px #00315826;border-radius:5px;margin:0 10px 30px;padding:15px 0 15px 10px;overflow:hidden;}
.list-content .section .inner:not(:last-child){margin-bottom:30px;}
.list-content .section dl > *{float:left;flex:auto;}
.list-content .section dl .col-2{max-width:5%;}
.list-content .section dl .col-4.sec-2{max-width:40%;}
.list-content .section dl .col-8{max-width:60%;}
.list-content .section dl .sec-3{max-width:35%;}
.list-content .section dl .col-4.sec-3-3{max-width:30%;}
.list-content .section dl.border{float:left;border:none!important;width:40%;}
.list-content .section dl.first{margin-bottom:10px;}
.list-content .section dl.last{display:inline-flex;width:20%;}
.list-content .section dl.last .col-2{max-width:25%;}
.list-content .section dl.last .col-2.sec-4-3, .list-content .section dt.icon:before{display:none;margin:0;content:none;}
.list-content .section .sec-1-4{background-color:transparent;}
